* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 225px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* banner styles */
.banner {
    margin-left: 225px;
    margin-right: 40px;
    align-items: center;
    display: flex;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 75px;
    color: #181818;
    margin-bottom: 18px;
}

.banner-description {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    margin-bottom: 30px;
}